header {
    width: 100%;

    background-color: #030303;
    color: #fff;

    padding: 16px 1.2%;
}

nav {
    width: 50%;
}

ul {
    list-style: none;

    li {
        font-size: 0.8rem;
        font-weight: 600;

        svg {
            // margin-right: 4%;
        }

        span {
            font-size: 0.8rem;
            margin-left: 4%;
        }
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disabled {
    color: #BDBDBD;
}

.enabled {
    color: #fff;
}

.item-header {
    display: flex;
    width: 5%;

    div {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

}

