header {
    width: 100%;

    background-color: #030303;
    color: var(--enabled);

    padding: 16px 1.2%;
}

nav {
    width: 50%;
    max-width: 600px;
}

ul {
    list-style: none;

    li {
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: 600;

        span {
            font-size: 0.8rem;
            margin-left: 4%;
        }
    }
}

.item-header {
    display: flex;
    width: 5%;
    max-width: 65px;
    
    * {
        cursor: pointer;
    }

    div {
        width: 26px;
        height: 26px;

        img {
            width: 100%;
        }
    }

}

